<menu>
	<item title="Inicio" href="./"/>
	<item title="Nosotros">
		<item title="Conócenos" href="./nosotros.html#"/>
		<item title="Misión" target="_self" href="#mision"/>
		<item title="Visión" target="_self" href="#vision"/>
		<item title="Valores" target="_self" href="#valores"/>
		<item title="Aviso de privacidad" target="_self" href="#aviso_privacidad"/>
	</item>
	<item title="Seguros">
		<item title="Catastróficos" href="./seguro.html#catastrofico" image="catastrofico.jpeg"/>
		<item title="Acuícola" href="./seguro.html#acuicola" image="acuicola.jpg"/>
		<item title="Apícola" href="./seguro.html#apicola" image="apicola.jpg"/>
		<item title="Agrícola" href="./seguro.html#agricola" image="agricola.jpg"/>
		<item title="Pecuario" href="./seguro.html#pecuario" image="pecuario.jpg"/>
		<item title="Seguro de Vida" href="./seguro.html#vida" image="vida.jpg"/>
	</item>
	<item title="Asociados">
		<item title="Nuestros Socios" href="./socios.html"/>
		<item title="Beneficiarios" href="./socios.html#beneficiarios"/>
		<!--<item title="Nuestros Asegurados" href="./ligas.html#asegurados"/>-->
		<item title="Ligas de interés" href="./ligas.html#interes"/>
	</item>
	<!--<item title="Novedades" href="./novedades.html"/>-->
</menu>